@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #fafafa;
  --primary: #facc15;
  --primary-foreground: #0a0a0a;
  --accent: #eab308;
  --accent-foreground: #0a0a0a;
  --confirm: #84cc16;
  --error: #dc2626;
  --warning: #FF5C00;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}